# EmailJS Configuration
# To get these values, sign up at https://www.emailjs.com/
# 1. Add an Email Service and copy the Service ID
# 2. Create an Email Template and copy the Template ID
# 3. Go to Account -> General to copy the Public Key
VITE_EMAILJS_SERVICE_ID=your_service_id_here
VITE_EMAILJS_TEMPLATE_ID=your_template_id_here
VITE_EMAILJS_PUBLIC_KEY=your_public_key_here
